body {
  text-align: center;
  font-family: 'Avenir';
  background: #00f260;
  background: -webkit-linear-gradient(to right, #00f260, #0575e6);
  background: linear-gradient(to right, #00f260, #0575e6);
}

.wrapper {
  display: grid;
  grid-gap: 1%;
  max-width: 500px;
  margin: 0 auto;
  grid-template-columns: repeat(8, 1fr) ;
  color: #444;
}

.square {
  position: relative;
  background-color: #025525;
  border-radius: 10%;
  padding-top: 100%;
  font-size: 150%;
}

.square > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding-top: 100%;
  border-radius: 50%;
  width: 100%;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.white span,
.black span {
  box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.25);
}

.white span {
  background-color: #fff;
}

.black span {
  background-color: #000;
}

.timer {
  font-size: 1.5em;
}

.legal-white:hover span {
  opacity: 0.5;
  background-color: #fff;
  cursor: pointer;
}

.legal-black:hover span {
  opacity: 0.5;
  background-color: #000;
  cursor: pointer;
}
