body {
  text-align: center;
  font-family: 'Avenir';
  background: #00f260;
  background: -webkit-linear-gradient(to right, #00f260, #0575e6);
  background: linear-gradient(to right, #00f260, #0575e6);
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  margin: 10px 0 0 0;
}

.grid-wrapper {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(10, 1fr) ;
  color: #444;
}

.square {
  position: relative;
  background-color: #025525;
  border-radius: 10%;
  font-size: 150%;
}

.square:after {
  padding-top: 100%;
  content: '';
  display: block;
}

.square > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: scale(.8);
  transition: all .3s ease;
}

.white span,
.black span {
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, .25);
}

.white span {
  background-color: #fff;
}

.black span {
  background-color: #000;
}

.timer {
  font-size: 1.5em;
}

.legal-white span,
.legal-black span {
  cursor: pointer;
}

.legal-white:hover span {
  background-color: rgba(255, 255, 255, .25);
}

.legal-black:hover span {
  background-color: rgba(0, 0, 0, .25);
}

.legal-black:hover span.hint,
.legal-white:hover span.hint {
  line-height: 200%;
}

.legal-white:hover span.hint {
  color: rgba(255, 255, 255, 1);
}

.legal-black:hover span.hint {
  color: rgba(0, 0, 0, 1);
}

.player-field,
.winner {
  margin: 0;
}

.stats {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.white-text {
  color: #fff;
}

h3 {
  margin-top: 50px;
  margin-bottom: 0;
}

.game-button {
  margin: 5px;
  border: 1px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  background-color: rgb(5, 117, 230, 0);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.game-button:focus {
  outline: 0;
}

.game-button:hover {
  background-color: rgb(5, 117, 230, .3)
}

.game-over {
  display: none;
}

.game-on > span {
  font-size: 0.8em;
}

.tutorial-mode {
  margin-bottom: 5px;
}

.tutorial-mode label,
.tutorial-mode input {
  cursor: pointer;
}

.tutorial-mode input {
  outline: 0;
}

@media(max-width: 486px) {
  .hint {
    font-size: 0.85em;
  }
}
