body {
  text-align: center;
  font-family: 'Avenir';
  background: #00f260;
  background: -webkit-linear-gradient(to right, #00f260, #0575e6);
  background: linear-gradient(to right, #00f260, #0575e6);
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.grid-wrapper {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(10, 1fr) ;
  color: #444;
}

.square {
  position: relative;
  background-color: #025525;
  border-radius: 10%;
  font-size: 150%;
}

.square:after {
  padding-top: 100%;
  content: '';
  display: block;
}

.square > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.white span,
.black span {
  box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.25);
}

.white span {
  background-color: #fff;
}

.black span {
  background-color: #000;
}

.timer {
  font-size: 1.5em;
}

.legal-white span,
.legal-black span {
  opacity: 0.25;
  cursor: pointer;
}

.legal-white:hover span {
  background-color: #fff;
}

.legal-black:hover span {
  background-color: #000;
}

.player-field {
  margin: 0;
}

.stats {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

h3 {
  margin-bottom: 0;
}

.skip-button {
  margin: 10px;
  border: 1px solid #0158af;
  border-radius: 20px;
  background-color: #0575e6;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.skip-button:focus {
  outline: 0;
}

.skip-button:hover {
  background-color: #0158af
}